.header__logo {
  width: 98px;
  height: 33px;
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}

.header__logo-active{
  width: 98px;
  height: 96px;
  object-fit: contain;
  position: absolute;
  left: 46%;
  transform: translateY(-50%);
}
