.information__section .sidebar{
    padding: 28px 0 40px;
}

.information__template{
    background-image: url("background_info.jpg");
    background-size: cover;
    width: 100%;
    height: 520px;
}

.information__template-description{
    background: rgba(47, 31, 206, 0.7);
    padding: 27px 27px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.information__template-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.information__template-header .accent-button{
    height: 42px;
    width: 129px;
}

.information__template-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 76px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: var(--main-size);
    line-height: 182%;
    color: var(--white);
    opacity: 0; /* Скроем элемент по умолчанию */
    transform: translateY(50px); /* Смещение вниз */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.information__template-list--visible {
    opacity: 1; /* Делает видимым при появлении */
    transform: translateY(0); /* Убирает смещение */
}

.information__template-sublist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.information__template-sublist > * {
    flex: 0 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.information__template-item list-decoration{
    list-style-type: disc;
}

.location:before{
    content: url("location.svg");
    height: 14px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.metro:before{
    content: url("metro.svg");
    height: 14px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.metro-yellow:before{
    content: url("metro_yellow.svg");
    height: 14px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.metro-red:before{
    content: url("metro_red.svg");
    height: 14px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.foot:before{
    content: url("foot.svg");
    height: 14px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.cycle:before{
    content: url("cycle.svg");
    height: 14px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.car:before{
    content: url("car.svg");
    height: 14px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.information__section .accent-button{
    width: 201px;
    height: 42px;
}

.information__template-list .list-decoration{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.information__section .carousel_range{
    padding: 28px 0 40px;
}

.carousel_range{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
    margin: auto;
    align-items: center;
}

.carousel__prev{
    background-image: url("befor.svg");
    height: 14px;
    width: 9px;
}

.carousel__bar {
    height: 1px;
    width: 220px;
    background: var(--color-button); /* Начальный цвет */
    margin: 10px auto; /* Центрируем */
}

.carousel__next{
    background-image: url("next.svg");
    height: 14px;
    width: 9px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
}
