.footer {
    background-color: var(--bg-dark);
}

.footer__nav{
    max-width: 923px;
    margin: auto;
}

.footer__nav-list{
    padding-top: 120px;
    padding-bottom: 87px;
    display: flex;
    flex-display: row;
    justify-content: space-between;
}

.footer__nav-sublist{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-header{
    color: var(--white);
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 250%;
}

.footer_text{
    color: #8b8ea8;
}

.footer a:hover{
    color: var(--accent-color);
}